/* app css stylesheet */

.container {
  margin-left: 1%;
  border-bottom: 0.1em solid black;
}

.header {
  margin-bottom: 0%;
}

.menu {
  list-style: none;
  margin-top: 2em;
  margin-bottom: 0%;
  padding: 0 0 0.5em;
}

/*.menu:before {
  content: "[";
}*/

/*.menu:after {
  content: "]";
}*/

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
