/* app css stylesheet */

body {
  background-color: #FEFFFA;
}

.heading {
  margin-left: 1%;
  border-bottom: 0.1em solid black;
}

.header {
  margin-top: 1vw;
  margin-bottom: 0%;
  width: 15vw;
  height: auto;
  margin-left: 2vw;
}

.menu {
  list-style: none;
  margin-top: 2em;
  margin-bottom: 0%;
  padding: 0 0 0.5em;
  float: right;
}

.menu a{
  color: #8D6B94;
  text-decoration: none;
}

.title {
  color: #5D4B60;
  margin-left: 1%
}

p.title {
  font-size: 1.1em;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: " • ";
  padding-right: 0.3em;
}

.lang-cont {
  margin-left: 5%;
}

.lang-list {
  margin-left: 0%;
  margin-bottom: 0%;
}

.lang-list a {
  color: #2C6BC9;
  text-decoration: none;
  float: left;
}

ul {
  list-style-type: none;
}

a:hover {
  color: #8ED081;
}


.six, .columns {
  margin-left: 0%;
  text-align: left;
}

.choose-lang {
  margin-bottom: 5vw;
}

.button-primary {
  float: right;
  margin-right: 6%;
}

.recording {
  background-color: #8D6B94;
  color: black;
}

.recording[disabled] {
  background-color: lightgrey;
}

.stopping {
  background-color: #8D6B94;
  color: black;
}

.stopping[disabled] {
  background-color: lightgrey;
}

.playback, .playclip {
  background-color: #8D6B94;
  color: black;
}

.playback[disabled]{
  background-color: lightgrey;
}

.playclip:hover {
  background-color: #8ED081;
}

.checknext {
  background-color: #4D3E4F;
  color: #FEFFFA;
  font-weight: normal;
}

.checknext:hover {
  background-color: #7CDF64;
}

.game {
  text-align: center;
  font-size: 1.4em;
}

.gameboard {
  width: 50%;
  background-color: #97D9EA;
  margin-top: 10vw;
  border-radius: 10px;
  border: solid black 3px;
}

.check {
  width: 2vw;
  height: auto;
}

.redx {
  width: 1.5vw;
  height: auto;
}

.table {
  margin-left: 5%;
  font-size: 1.2em;
  color: #392B58;
}

.f1 {
  font-family: 'Courgette', cursive;
}

.f2 {
  font-family: 'Shadows Into Light Two', cursive;
}

.f3 {
  font-family: 'Patrick Hand', cursive;
}

.f4 {
  font-family: 'Maven Pro', sans-serif;
}

.f5 {
  font-family: 'Delius', cursive;
}

.f6 {
  font-family: 'Cormorant', serif;
}

.f7 {
  font-family: 'Josefin Sans', sans-serif;;
}
