<h3>Browse Languages</h3>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">


      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <!-- <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p> -->

    </div>
    <div  class="col-md-3">
      <ul>
        <li ng-repeat="language in $ctrl.languages | filter:$ctrl.query">
          <a href="#!/home/{{language.name}}">{{language.name}}</a>
        </li>
      </ul>

    </div>
    <div class="col-md-2">
      <input onclick='responsiveVoice.speak("Hello World");' type='button' value='🔊 Play' />
      <!-- <form>
          Word: <input type="text" ng-model="$ctrl.soundclip.word">
          Rate: <input type="text" ng-model="$ctrl.soundclip.rate">
          Pitch: <input type="text" ng-model="$ctrl.soundclip.pitch">
          <input type="submit" id="sound">
      </form> -->
    </div>
    <ng-audio-recorder id='audioInput' audio-model='recordedInput'>
  <!-- Start controls, exposed via recorder-->
  <div ng-if="recorder.isAvailable">
    <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
        Start Record
    </button>
    <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
        Stop Record
    </button>
    <button ng-click="recorder.playbackRecording()" type="button"
            ng-disabled="recorder.status.isRecording || !recorder.audioModel">
        Play Back
    </button>
  </div>

  <div ng-if="!recorder.isAvailable">
    Message for users when recording is not possible.
  </div>
  <!-- End controls-->
</ng-audio-recorder>
  </div>
</div>
