<br>
<p class="f6 title">
  Search:
  <input ng-model="$ctrl.query" />
</p>

<div id="audio_embeds">

</div>

<table class="f4 table">
    <thead>
        <tr>
            <th>Foreign Word</th>
            <th>English Word</th>
            <th>Part of Speech</th>
            <th>Category</th>
            <th>Language</th>
            <th>Sound</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="word in $ctrl.words | filter:$ctrl.query | orderBy: 'word'">
            <td>{{word.foreign_word}}</td>
            <td>{{word.english_word}}</td>
            <td>{{word.part_of_speech}}</td>
            <td>{{word.category}}</td>
            <td>{{word.language}}</td>
            <td>
              <span ng-if="word.sound_present == true ">
                <button id="{{word.id}}" ng-click="play_sound($event)">Play clip</button>
              </span>
            </td>
        </tr>
    </tbody>
</table>
