
<div class="container">
    <div class"row">
      <form name="myForm" ng-model="new_word">
        <div class="six columns">
          <label>
            Foreign Language Word:
            <input type="text" ng-model="new_word.foreign_word">
          </label>
        </div>
        <div class="six columns">
          <label>
            English Word:
            <input type="text" ng-model="new_word.english_word">
          </label>
        </div>
        <div class="six columns">
          <label>
            Part of Speech:
            <select ng-model="new_word.part_of_speech">
             <option ng-repeat="part in $ctrl.part_of_speeches | orderBy: 'part'">{{part.part_of_speech}}</option>
           </select>
          </label>
        </div>
        <div class="six columns">
          <label>
             Category:
             <select ng-model="new_word.category">
              <option ng-repeat="category in $ctrl.categories | orderBy: 'category'">{{category.category}}</option>
            </select>
          </label>
        </div>
        <div class="six columns">
          <label>
             Language:
             <select ng-model="new_word.language">
              <option ng-repeat="language in $ctrl.languages | orderBy: 'language'">{{language.language}}</option>
            </select>
          </label>
        </div>
        <div class="six columns">
          <label>
              <ng-audio-recorder id='audioInput' audio-model='new_word.recordedInput'>
              <!-- Start controls, exposed via recorder-->
              <div ng-if="recorder.isAvailable">
                Sound: <button class="recording" ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
                    Start Recording
                </button><br>
                <button class="stopping" ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                    Stop Recording
                </button><br>
                <button class="playback" ng-click="recorder.playbackRecording()" type="button"
                        ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                    Play Back
                </button>
              </div>

              <div ng-if="!recorder.isAvailable">
                Message for users when recording is not possible.
              </div>
              <!-- End controls-->
            </ng-audio-recorder>

          </label>
        </div>

    </div>
</div>


  <input class="button-primary" type="submit" value="Add Word" ng-click="save_word()">
</form>
