<form name="myForm" ng-model="new_word">
  <label>
     Foreign Language Word:
     <input type="text" ng-model="new_word.foreign_word">
  </label><br>
  <label>
     English Word:
     <input type="text" ng-model="new_word.english_word">
  </label><br>
  <label>
     Part of Speech:
     <input type="text" ng-model="new_word.part_of_speech">
  </label><br>
  <label>
     Category:
     <input type="text" ng-model="new_word.category">
  </label><br>
  <label>
     Language:
     <select ng-model="new_word.language">
      <option ng-repeat="language in $ctrl.languages | orderBy: 'language'">{{language.language}}</option>
    </select>
  </label><br>
  <label>
     Sound:
     <input type="text" ng-model="new_word.sound_clip">
  </label>
  <input type="button" class="btn btn-success" value="Add Word" ng-click="save_word()">
</form>
